.doc {
    color: white;
    .preload {
        @include full;

        padding: 5rem;

        box-sizing: border-box;
        text-align: center;
        z-index: 1000000;
    }
    .counter {
        left: 0;
        position: absolute;
        top: 0;
        z-index: 10000;
        .bar {
            background: white;

            height: 30px;
            width: 0;
        }
    }
    .hidden {
        opacity: 0;
    }
    .slide, .state {
        @include full;
    }
    .state {
        .poster {
            align-items: flex-end;
            display: flex;
            font-size: 6rem;
            justify-content: flex-end;
            div {
                padding: 0 4rem 4rem 0;
            }
        }
    }
    .slide {
        img, video {
            height: 100vh;
            min-width: 100vw;
            object-fit: cover;
        }
        .text {
            padding: 1rem;

            background: rgba(0,0,0,.5);

            font-size: 2rem;
            position: absolute;
            right: 0;
            top: 20%;
        }
        .year {
            padding: 1rem;

            background: rgba(0,0,0,.5);

            bottom: 0;
            font-size: 1.3rem;
            left: 0;
            position: absolute;
        }
    }
}
