<section class="list">
    <h1>Alimapu, Tierra quemada.</h1>

    <h2>Realización</h2>
    <ul>
        <li>Rosario González</li>
        <li>Raúl Domenech</li>
        <li>Tomás Fernandez Cotruno</li>
    </ul>

    <h2>Programación</h2>
    <ul>
        <li>Berto Yáñez</li>
    </ul>

    <h2>Sobre el proyecto</h2>

    <p>Alimapu es un prototipo de docuweb que recopila materiales online en tiempo real (videos, audios, fotografías y textos) para crear un documental aleatorio que cambia en cada reproducción.</p>

    <p>Agradecemos especialmente a todas las compañías de Bomberos de Valparaíso, a Joris Ivens y su película "A Valparaíso", al documental "Nos Levantaremos, al Documental "La Hoguera" y a todos los colaboradores que anónimamente son parte de este archivo online sobre Valparaíso y sus incendios.</p>

    <p>Este prototipo tiene fines educativos y de investigación y forma parte de la Hackathon del DocsBarcelona de Valparaíso 2016.</p>

    <p>El código fuente de este prototipo está <a class="external" target="_blank" href="https://github.com/HackathonWebdocs/alimapu">disponible en github</a></p>

    <a href="javascript:history.go(-1)" class="internal">Volver al documental</a>
</section>