<section>

  <div class="reload">
    <a href="/doc/{{time}}">Ver otra versión de este documental aleatorio</a>
  </div>

  <div class="extra">
    <a href="http://www.agenciainteractiva.cl/alimapu/timeline.html" target="_blank">Deseas profundizar?</a>
    <a href="/creditos">Créditos</a>
  </div>

</section>