<section class="home">

    <div class="pan">
        <img src="/static/img/pan.jpg">
    </div>

    <div class="panel title">
        <div>
            <h1>Valparaíso</h1>
        </div>
    </div>

    <div class="panel logo">
        <div>
            <h1><span class="fire">A</span><span class="burn">l</span><span class="fire">i</span><span class="burn">m</span><span class="fire">a</span><span class="fire">p</span><span class="burn">u</span></h1>
            <h2>Tierra quemada</h2>

            <p>Un documental aleatorio que explora la fuerza destructora del fuego en Valparaíso y la transformación de una realidad que ha estado oculta y olvidada.</p>
        </div>
    </div>

    <div class="panel def">
        <p>Algunos señalan que los indígenas reconocían como "Alimapu" a toda la cuenca donde habitaban los Changos, que una vez localizada por los españoles, había sido tomada por asalto, arrasada y quemada completamente. Era una especie de trágica advertencia entre los indígenas, para referirse a la tierra devastada por el fuego del invasor.</p>
    </div>

    <div class="panel ask">
        <p>Para una mejor experiencia con este documental necesitamos saber tu ubicación actual.</p>
        <p><button data-yes>Permitir</button><button data-no>No permitir</button></p>
    </div>

    <div class="panel geoyes">
        <p>El incendio más cercano a tu ubicación fue hace \{{days}} días a \{{distanceFixed}} Km. de distancia.</p>
        <p>La intensidad de este incendio implica que el documental durará \{{minutes}} minutos.</p>
        <p>Qué tan cerca estás del Fuego?</p>
        <p><button>Ver documental aleatorio</button></p>
    </div>

    <div class="panel geono">
        <p>El 95% de los incendios estructurales y forestales son consecuencia de acciones humanas.</p>
        <p><button>Ver documental aleatorio</button></p>
    </div>

    <audio class="sirenas" src="/static/media/sirenas.mp3"></audio>
    <audio class="cecil" src="/static/media/cecil.mp3"></audio>
    <audio class="fuego" src="/static/media/fuego.mp3"></audio>

</section>